/AbyssUI/*
/AbyssUIBuild
/abyss_core/abyssnet.h
/abyss_engine/ABI/*.cs
/abyss_engine/obj
/abyss_engine/bin
Abyss-Browser.code-workspace
*.exe
*.dll
*.db
*.vsidx
*cache.v2
*.suo
*.json
*.bin
*copilot-chat*
*.vsconfig
*.pdb
*.db-wal
*.db-shm
*.zip

*/AGENTS.md